*.o
*~
=build*
build*

.deps
aclocal.m4
autom4te.cache
config
config.h
config.h.in
config.log
config.status
configure
stamp-h1
Makefile
Makefile.in
INSTALL

src/awkl.c
src/awkp.c
src/awkp.h

src/xml-awk
src/xml-cat
src/xml-cp
src/xml-cut
src/xml-echo
src/xml-file
src/xml-find
src/xml-fixtags
src/xml-fmt
src/xml-grep
src/xml-head
src/xml-less
src/xml-ls
src/xml-mv
src/xml-paste
src/xml-printf
src/xml-rm
src/xml-sed
src/xml-strings
src/xml-unecho
src/xml-wc

src/tests/*[0-9][0-9].sh
man/xml-*.[1-9]
